.home {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main-content {
	background-color: var(--secondary-background-color);
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
}
